:root {
  --snow-white: #F2F0E9;
  --orange-coloured-white: #E8E1C9;
  --skimmed-milk-white: #D9D5C4;
  --ash-grey: #B7B8A4;
  --broccoli-brown: #5C5850;
  --ultramarine-blue: #4C6FA5;
  --imperial-purple: #33355C;
  --scotch-blue: #1E2038;
  --emerald-green: #5B9A73;
  --verdigris-green: #2E6E52;
  --sap-green: #5C6640;
  --duck-green: #193A2E;
  --dutch-orange: #E8A13C;
  --lake-red: #9A1F4A;
  --crimson-red: #7A5560;
  --deep-reddish-brown: #3E2A28;
}
body {
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  background-color: var(--snow-white);
  margin-top: 80px;          
  margin-left: 50px;          
  margin-right: 50px;          
  letter-spacing: 0.35px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 42px;
  font-weight: 700;
  color: var(--ultramarine-blue);
}
h2 {
  font-size: 42px;
  font-weight: 300;
  width: 60%;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
p.normal, li{
  font-family: 'Lato';                        
  font-size: 16px;
  line-height: 28px;
  word-wrap: break-word;
}

#content {
  margin: 0 auto;
  width: 1000px;
}

#footer {
  margin: 50px auto;
  width: 150px;
}

a {
  color: #2b72bb;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #215c98;
}

a.social_links:hover {
  color: var(--ultramarine-blue);
}

a.navigation {
  color: var(--dutch-orange);
}

a.navigation:hover {
  color: var(--ultramarine-blue);
}

a:hover {
  color: #215c98;
  text-decoration: underline;
}

.photo_normal {
  width:320px;
  border-radius:50%;
  float:right;
  margin-right: 70px;
}

.photo_small {
  display: none;
  width:200px;
  border-radius:50%;
  float:left;
  margin-left: 50px;
}

@media screen and (max-width: 800px) {
  body {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #content {
    width: 100%;
    margin: 0px;
    max-width:100%; 
    margin: 0;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
    width: 100%;
  }
  .photo_normal {
    display: none;
  }
  .photo_small {
    display: block;
    margin-bottom: 5px;
  }
  #footer {
    width: 150px;
  }
  a.social_links {
    margin-right: 3px;
  }
}
